* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.hibernate.eclipse.console.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/README.txt -text
/pom.xml -text
resources-ext/console/preferences-console.properties -text svneol=unset#text/plain
resources-ext/log4j.properties -text
resources-ext/src/Ejemplos.tar.gz -text
resources-ext/src/fuentes-mityc-1.0.4.zip -text
resources-ext/src/xml-security-1_4_2-patched.zip -text
src/main/java/net/esle/sinadura/console/Sinadura.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/controllers/SignController.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/controllers/ValidateController.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/exceptions/ConsolePreferencesException.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/exceptions/PasswordCallbackException.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/exceptions/ValidationResultInvalidException.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/utils/ExitCodeManagerUtils.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/console/utils/PreferencesUtil.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/core/TestSinadura.java -text
src/main/java/net/esle/sinadura/core/XadesTest.java -text
src/main/java/net/esle/sinadura/core/certificate/CertificateUtil.java -text
src/main/java/net/esle/sinadura/core/crl/CRLChecker.java -text
src/main/java/net/esle/sinadura/core/exceptions/ArchiverException.java -text
src/main/java/net/esle/sinadura/core/exceptions/CipherException.java -text
src/main/java/net/esle/sinadura/core/exceptions/ConnectionException.java -text
src/main/java/net/esle/sinadura/core/exceptions/CoreException.java -text
src/main/java/net/esle/sinadura/core/exceptions/CorePKCS12Exception.java -text
src/main/java/net/esle/sinadura/core/exceptions/DigidocException.java -text
src/main/java/net/esle/sinadura/core/exceptions/IncompleteChainException.java -text
src/main/java/net/esle/sinadura/core/exceptions/InterpreterInterruptedException.java -text
src/main/java/net/esle/sinadura/core/exceptions/NoSunPkcs11ProviderException.java -text svneol=unset#text/plain
src/main/java/net/esle/sinadura/core/exceptions/OCSPCoreException.java -text
src/main/java/net/esle/sinadura/core/exceptions/OCSPIssuerRequiredException.java -text
src/main/java/net/esle/sinadura/core/exceptions/OCSPUnknownUrlException.java -text
src/main/java/net/esle/sinadura/core/exceptions/PKCS11Exception.java -text
src/main/java/net/esle/sinadura/core/exceptions/PasswordCallbackCanceledException.java -text
src/main/java/net/esle/sinadura/core/exceptions/PdfSignatureException.java -text
src/main/java/net/esle/sinadura/core/exceptions/Pkcs7Exception.java -text
src/main/java/net/esle/sinadura/core/exceptions/RevokedException.java -text
src/main/java/net/esle/sinadura/core/exceptions/TsValidationInterruptedException.java -text
src/main/java/net/esle/sinadura/core/exceptions/UknownArchiverException.java -text
src/main/java/net/esle/sinadura/core/exceptions/ValidationFatalException.java -text
src/main/java/net/esle/sinadura/core/exceptions/ValidationInterruptedException.java -text
src/main/java/net/esle/sinadura/core/exceptions/XadesSignatureException.java -text
src/main/java/net/esle/sinadura/core/exceptions/XadesValidationFatalException.java -text
src/main/java/net/esle/sinadura/core/interpreter/MessageInfo.java -text
src/main/java/net/esle/sinadura/core/interpreter/SignatureInfo.java -text
src/main/java/net/esle/sinadura/core/interpreter/ValidationInterpreterUtil.java -text
src/main/java/net/esle/sinadura/core/keystore/KeyStoreBuilderFactory.java -text
src/main/java/net/esle/sinadura/core/keystore/PKCS11Helper.java -text
src/main/java/net/esle/sinadura/core/model/Archiver.java -text
src/main/java/net/esle/sinadura/core/model/ChainInfo.java -text
src/main/java/net/esle/sinadura/core/model/CxsigArchiver.java -text
src/main/java/net/esle/sinadura/core/model/DataFile.java -text
src/main/java/net/esle/sinadura/core/model/KsSignaturePreferences.java -text
src/main/java/net/esle/sinadura/core/model/PDFSignatureInfo.java -text
src/main/java/net/esle/sinadura/core/model/PdfSignatureField.java -text
src/main/java/net/esle/sinadura/core/model/PdfSignaturePreferences.java -text
src/main/java/net/esle/sinadura/core/model/SignaturePreferences.java -text
src/main/java/net/esle/sinadura/core/model/Status.java -text
src/main/java/net/esle/sinadura/core/model/TimestampInfo.java -text
src/main/java/net/esle/sinadura/core/model/ValidationError.java -text
src/main/java/net/esle/sinadura/core/model/ValidationPreferences.java -text
src/main/java/net/esle/sinadura/core/model/XadesSignatureInfo.java -text
src/main/java/net/esle/sinadura/core/model/XadesSignaturePreferences.java -text
src/main/java/net/esle/sinadura/core/password/ConsoleCallbackHandler.java -text
src/main/java/net/esle/sinadura/core/password/DummyCallbackHandler.java -text
src/main/java/net/esle/sinadura/core/password/FileCallbackHandler.java -text
src/main/java/net/esle/sinadura/core/password/PasswordExtractor.java -text
src/main/java/net/esle/sinadura/core/service/PdfService.java -text
src/main/java/net/esle/sinadura/core/service/Pkcs7Service.java -text
src/main/java/net/esle/sinadura/core/service/XadesService.java -text
src/main/java/net/esle/sinadura/core/util/CipherUtil.java -text
src/main/java/net/esle/sinadura/core/util/ExceptionUtil.java -text
src/main/java/net/esle/sinadura/core/util/FileUtil.java -text
src/main/java/net/esle/sinadura/core/util/KeystoreUtil.java -text
src/main/java/net/esle/sinadura/core/util/LanguageUtil.java -text
src/main/java/net/esle/sinadura/core/util/PdfUtil.java -text
src/main/java/net/esle/sinadura/core/util/PropertiesCoreUtil.java -text
src/main/java/net/esle/sinadura/core/validate/CertPathUtil.java -text
src/main/java/net/esle/sinadura/core/validate/DigidocUtil.java -text
src/main/java/net/esle/sinadura/core/validate/OcspUtil.java -text
src/main/java/net/esle/sinadura/core/validate/RevocationChecker.java -text
src/main/java/net/esle/sinadura/core/validate/TimestampUtil.java -text
src/main/java/net/esle/sinadura/core/xades/CompleteValidation.java -text
src/main/java/net/esle/sinadura/core/xades/GenericXMLSignature.java -text
src/main/java/net/esle/sinadura/core/xades/KeystoreTruster.java -text
src/main/java/net/esle/sinadura/core/xades/MyPolicy.java -text
src/main/java/net/esle/sinadura/core/xades/MyPropsTruster.java -text
src/main/java/net/esle/sinadura/core/xades/PassStoreKS.java -text
src/main/java/net/esle/sinadura/core/xades/RelativeExternFileToSign.java -text
src/main/java/net/esle/sinadura/core/xades/Utf8ResolverBigLocalFileSystem.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESBESDetachedSignature.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESBESTestSignature.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESFacturaeSignature.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESTDetachedSignature.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESXLDetachedSignature.java -text
src/main/java/net/esle/sinadura/core/xades/XAdESXLEnvelopingSignature.java -text
src/main/java/net/esle/sinadura/core/xades/ext/ValidarFirmaXML.java -text
src/main/java/net/esle/sinadura/core/xades/ext/logv.java -text
src/main/java/net/esle/sinadura/core/xades/policy/Facturae30ManagerExt.java -text
src/main/java/net/esle/sinadura/core/xades/policy/Facturae31ManagerExt.java -text
src/main/java/net/esle/sinadura/core/xades/validator/XadesValidator.java -text
src/main/java/net/esle/sinadura/core/xades/validator/XadesValidatorFactory.java -text
src/main/java/net/esle/sinadura/core/xades/validator/impl/SinaduraXadesValidator.java -text
src/main/java/net/esle/sinadura/core/xades/validator/impl/ZainXadesValidator.java -text
src/main/resources/META-INF/xades/policy.properties -text
src/main/resources/i18n_libreriaXADES_eu_ES.properties -text
src/main/resources/net/esle/sinadura/core/resources/configuration.properties -text
src/main/resources/net/esle/sinadura/core/resources/i18n/language.properties -text
src/main/resources/net/esle/sinadura/core/resources/i18n/language_ca_ES.properties -text
src/main/resources/net/esle/sinadura/core/resources/i18n/language_en_US.properties -text
src/main/resources/net/esle/sinadura/core/resources/i18n/language_eu_ES.properties -text
src/main/resources/trust/certs/issuers/dnie/ACDNIE001-SHA1.crt -text
src/main/resources/trust/certs/issuers/dnie/ACDNIE002-SHA1.crt -text
src/main/resources/trust/certs/issuers/dnie/ACDNIE003-SHA1.crt -text
src/main/resources/trust/certs/issuers/dnie/ACRAIZ-SHA1.crt -text
src/main/resources/trust/facturae/trusted.jks -text
src/main/resources/trust/mytruster.properties -text
src/main/resources/trust/trust.properties -text
